{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <div class="row">
        <div class="col-5">
            <form action="{{ url_for('interaction_2')}}" method="post" enctype="multipart/form-data">
                <label for="formFile" class="form-label">Upload Image:</label>
                <input class="form-control" id="formFile" type="file" name="imgFile">
                <br>

                <legend class="col-form-label">Select Story Genre:</legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio1" value="Ariana_Grande" checked>
                    <label class="form-check-label" for="inlineRadio1">Ariana Grande</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio2" value="Justin_Bieber">
                    <label class="form-check-label" for="inlineRadio2">Justin Bieber</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio3" value="Taylor_Swift">
                    <label class="form-check-label" for="inlineRadio3">Taylor Swift</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio4" value="Dua_lipa">
                    <label class="form-check-label" for="inlineRadio1">Dua lipa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio5" value="Lady_Gaga">
                    <label class="form-check-label" for="inlineRadio2">Lady Gaga</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio6" value="Charlie_Puth">
                    <label class="form-check-label" for="inlineRadio3">Charlie Puth</label>
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <img src="{% if imgPath %} {{imgPath}} {%endif %}" class="rounded mx-auto d-block img-fluid" style="max-width: 70%">
            <br>
            <p class="text-center alert alert-secondary" style="text-transform: capitalize">{%if caption%}Generated Caption: {{caption}} {%else%}Waiting for image processing & caption...{%endif %}</p>
        </div>

        <div class="col-1">
            <br>
        </div>
        
        <div class="col-6" >
            <div class="d-flex justify-content-center" id="canvas-div" data-story="{% if imgPath %} {{story}} {% else %}Waiting for the lyric...{%endif %}" data-style={{style}}>
            </div>
            <br>
            <div class="row">
                <div class="col-6 text-center" id="startBtnDiv">
                    <!-- <button type="button" class="btn btn-primary" id="startBtn">Start Narrating!</button> -->
                </div>
                <div class="col-6 text-center" id="stopBtnDiv">
                    <!-- <button type="button" class="btn btn-danger" id="stopBtn">Stop Narrating!</button> -->
                </div>
            </div>
            
        </div>   
    </div>
    
</div>
<script src="js/sketch-m2.js"></script>
{%endblock%}